* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: hsl(30, 38%, 92%);
}


.main {
  width: 40%;
  min-width: 375px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 0.65rem;
  overflow: hidden;
}

.hero-image, .text {
  width: 50%;
}

.hero-image {
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
}

.text {
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 12%, 48%);
  padding: 1.4rem;
}

.text h3 {
  font-family: Monserrat, Arial, sans-serif;
  font-size:  0.53rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  
}

.text h1 {
  font-family: Fraunces;
  margin-top: 1.2rem;
  color: hsl(212, 21%, 14%);
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.text p {
  margin-top: 1.2rem;
  font-size: 0.7rem;
  line-height: 1rem;
  font-family: Montserrat, sans-serif;
}

.prices {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}

.prices .price {
  font-family: Fraunces, serif ;
  font-size: 1.4rem;
  color: hsl(158, 36%, 37%);
}

.prices .discount {
  font-size: 0.7rem;
  text-decoration: line-through;
  margin-left: 1rem;
}

.cart-btn {
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin: 1.2rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
}

.cart-btn span {
  font-size: 0.65rem;
}

.cart-btn img {
  width: 6%;
}

.footer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
}