* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background-color: hsl(30, 38%, 92%);
}


.main {
  width: 40%;
  min-width: 375px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 0.65rem;
  overflow: hidden;
}

.perfume-img, .text {
  width: 50%;
}

.text {
  background-color: hsl(0, 0%, 100%);
}
.image-cont img {
  width: 100%;
  height: auto;
}


.footer {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
}